<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bienvenue</h2>
                </div>
            </div>
   <!--         <div class="row">
                <p class="intro-text"><center> Le Romobrole, nom de l'Interjeux 2025, est une manifestation de hobby figurinistique, accueillant plusieurs univers et jeux.
 L'événement accueillera jusqu'à 500 personnes, réparties sur 4 tournois, dans 4 jeux différents. Il a lieu dans la magnifique salle la Fabrique Normant, à Romorantin-Lanthenay, les 11 et 12 Octobre 2025.
L'organisation est partagée entre les responsables de chaque jeu et l'association locale L'Antre des Jeux.
Vous trouverez sur ce site les informations sur la manifestation ainsi que les liens vers les différents Discords, sponsors et sites d'inscription. N'hésitez pas à nous contacter pour toute demande et surtout à vous inscrire dans le jeu qui vous correspond !</center>
                </p>-->


            <div class="intro-text text-center">
    <p>Le Romo2brole, nom de l'Interjeux 2026, est une manifestation de hobby figurinistique, accueillant plusieurs univers et jeux. L'événement accueillera jusqu'à 400 personnes, réparties sur 4 tournois, dans 4 jeux différents. Il a lieu dans la magnifique salle la Fabrique Normant à Romorantin-Lanthenay, les 10 et 11 Octobre 2026.</p>
    
    <p>L'organisation est partagée entre l'association Zibeline de bronze, les responsables de chaque jeu et l'association locale L'Antre des Jeux.</p>
    
    <p>Vous trouverez sur ce site les informations sur la manifestation ainsi que les liens vers les différents Discords, sponsors et sites d'inscription. N'hésitez pas à nous contacter pour toute demande et surtout à vous inscrire dans le jeu qui vous correspond !</p>
    </div>
             <div class="col-lg-12">
                    <img src="css/2017_style/img/AfficheA3-IR2026_1.jpg" class="img-responsive img-centered" width="600" height="800" alt="">
        </div>
    </section>
