<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
            </div>
        </div>
        <div class="row">
            <!-- Corvus Belli -->
            <div class="col-md-4 col-sm-6">
                    <a href="https://infinitytheuniverse.com/" class="portfolio-link" target="_blank">
                <!--<a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">-->
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/corvus.png" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- Green Stuff World -->
             <div class="col-md-4 col-sm-6">
               <a href="https://www.greenstuffworld.com/en/" class="portfolio-link" target="_blank">
          <!-- <a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">-->
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/GSW.png" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- La boite a rabiots -->
            <div class="col-md-4 col-sm-6">
                <a href="https://laboitearabiots.com/" class="portfolio-link" target="_blank"> 
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/laboitearabiots.jpg" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- Stratemats -->
            <div class="col-md-4 col-sm-6">
              <!--  <a href="https://www.stratemats.com/" class="portfolio-link" target="_blank">-->
                <a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">    
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/TBD.png" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- Army painter -->
             <div class="col-md-4 col-sm-6">
             <!--   <a href="https://thearmypainter.com/" class="portfolio-link" target="_blank">-->
                <a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/TBD.png" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- microartstudio -->
             <div class="col-md-4 col-sm-6">
               <!-- <a href="https://shop.microartstudio.com/en/" class="portfolio-link" target="_blank">-->
                <a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/TBD.png" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- fighouse -->
             <div class="col-md-4 col-sm-6">
              <!--  <a href="https://shop.fighouse.fr/" class="portfolio-link" target="_blank">-->
                <a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/TBD.png" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- max.minipainting -->
             <div class="col-md-4 col-sm-6">
               <!-- <a href="https://wargamespirit.fr/" class="portfolio-link" target="_blank">-->
                <a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/TBD.png" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- wargame spirit -->
             <div class="col-md-4 col-sm-6">
               <!-- <a href="https://www.facebook.com/max.minipainting/" class="portfolio-link" target="_blank">-->
                <a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/TBD.png" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- Lapin laser -->
             <div class="col-md-4 col-sm-6">
               <!-- <a href="https://shop.lapin-laser.fr/fr/" class="portfolio-link" target="_blank">-->
                <a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/TBD.png" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- Légion -->
             <div class="col-md-4 col-sm-6">
               <!-- <a href="https://www.legion-distribution.com/" class="portfolio-link" target="_blank">-->
                <a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/TBD.png" class="uniform-logo" alt="">
                    </div>
                </a>
            </div>
            <!-- atelier de Dunan -->
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
               <!-- <a href="https://www.facebook.com/H.CED.Artiste" class="portfolio-link" target="_blank">-->
                <a href="https://www.interjeuxromo.fr/" class="portfolio-link" target="_blank">
                    <div class="logo-container">
                        <img src="../css/2017_style/img/sponsors/TBD.png" class="uniform-logo" alt="">
                    </div>
                </a>  
            </div>
        </div>
    </div>
</aside>
<style>
/* Container pour chaque logo */
.logo-container {
    background-color:#f7f7f7; 
    padding: 20px;
    margin: 15px auto;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}
/* Images uniformes */
.uniform-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}
/* Effet hover */
.portfolio-link:hover .logo-container {
    transform: translateY(-2px);
}
.portfolio-link:hover .uniform-logo {
    transform: scale(1.15);
}
/* Responsive */
@media screen and (max-width: 768px) {
    .logo-container {
        width: 180px;
        height: 130px;
        padding: 15px;
        margin: 10px auto;
    }
}
@media screen and (max-width: 480px) {
    .logo-container {
        width: 160px;
        height: 120px;
        padding: 10px;
    }
}
</style>
