<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Partenaires</h2>
                </div>
            </div>
            <div class="row">
                <!-- Ville de Romorantin -->
                <div class="col-md-4 col-sm-6">
                    <a href="https://romorantin.com/" class="portfolio-link" target="_blank">
                        <img src="../css/2017_style/img/logoromorantin.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <!-- la fabrique -->
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.lafabriquenormant.fr/" class="portfolio-link" target="_blank">
                        <img src="../css/2017_style/img/logonormant.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <!-- antre des jeux -->
                <div class="col-md-4 col-sm-6">
                    <a href="https://lantredesjeux.fr/" class="portfolio-link" target="_blank">
                        <img src="../css/2017_style/img/logoasso.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <!-- T9A FR -->
                <div class="col-md-4 col-sm-6">
                    <a href="https://discord.gg/CYyrKavvKq" class="portfolio-link" target="_blank">
                        <img src="../css/2017_style/img/logos/TBD.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <!-- TOW -->
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" target="_blank">
                        <img src="../css/2017_style/img/tow.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <!-- MESBG -->
                <div class="col-md-4 col-sm-6">
                    <a href="https://fftm-mesbg.fr/" class="portfolio-link" target="_blank">
                        <img src="../css/2017_style/img/logomesbg.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <!-- Infinity -->
                <div class="col-md-4 col-sm-6">
                    <a href="https://discord.gg/Qp3QrHMQ" class="portfolio-link" target="_blank">
                        <img src="../css/2017_style/img/speaker/infinity.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </aside>
