<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Communautés</h2>
            </div>
        </div>
        
        <!-- Container principal en cercle -->
        <div class="circle-layout">
            <!-- Ville de Romorantin -->
            <div class="circle-item item-1">
                <a href="https://romorantin.com/" class="portfolio-link" target="_blank">
                    <img src="../css/2017_style/img/logoromorantin.jpg" class="img-responsive img-centered" alt="Romorantin">
                </a>
                <p class="item-label">Romorantin</p>
            </div>
            
            <!-- antre des jeux -->
            <div class="circle-item item-2">
                <a href="https://lantredesjeux.fr/" class="portfolio-link" target="_blank">
                    <img src="../css/2017_style/img/logoasso.png" class="img-responsive img-centered" alt="L'Antre des Jeux">
                </a>
                <p class="item-label">L'Antre des Jeux</p>
            </div>
            
            <!-- T9A FR -->
            <div class="circle-item item-3">
                <a href="https://discord.gg/CYyrKavvKq" class="portfolio-link" target="_blank">
                    <img src="../css/2017_style/img/speaker/t9a.png" class="img-responsive img-centered" alt="T9A France">
                </a>
                <p class="item-label">T9A France</p>
            </div>
            
            <!-- TOW -->
            <div class="circle-item item-4">
                <a href="https://discord.gg/YEmbXEqxfk" class="portfolio-link" target="_blank">
                    <img src="../css/2017_style/img/tow.jpg" class="img-responsive img-centered" alt="The Old World">
                </a>
                <p class="item-label">The Old World</p>
